<img ng-src="{{ fullImageUrl(routeParams.farm, routeParams.server, routeParams.id, routeParams.secret) }}" alt="image" class="full-image"/>
<div class="text-center">
	<div ng-if="elementExists(routeParams.farm, routeParams.server, routeParams.id, routeParams.secret)">
		<input type="button" class="btn btn-danger" value="Unfavorite" ng-click="toggle(routeParams.farm, routeParams.server, routeParams.id, routeParams.secret)"/>
	</div>
	<div ng-if="!elementExists(routeParams.farm, routeParams.server, routeParams.id, routeParams.secret)">
		<input type="button" class="btn btn-success" value="Favorite" ng-click="toggle(routeParams.farm, routeParams.server, routeParams.id, routeParams.secret)"/>
	</div>
</div>