body {
	font-family: Century Gothic, sans-serif;
	background-color: #222;
	color: #eee;
}

.body-top-spacing {
	position: relative;
	top: 50px;
}

a {
	color: #00aaff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.my-thumbnail {
	-webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
	padding-top: 2px;
	padding-bottom: 2px;
}

.my-thumbnail:hover {
	-webkit-transform: scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
	cursor: pointer;
}

.full-image {
	margin: 0 auto;
	border: 10px solid black;
	display: block;
}